# CONFIGURACIÓN DEL SERVIDOR (prod | dev)
PORT=3000
ENVIRONMENT=dev

# BROKER DE MENSAJES - NATS
NATS_SERVERS="nats://localhost:4222"

# SERVIDORES DEL FRONTEND
FRONTENDS_SERVERS="http://localhost:3001,http://localhost:3002"

# SERVIDORES DE APIs EXTERNAS - PVT (Backend Privado)
PVT_BE_API_SERVER="http://localhost:<port>"
PVT_BACKEND_API_SERVER="http://localhost:<port>"
PVT_HASH_SECRET="your_pvt_hash_secret"

# CONFIGURACIÓN DE BASE DE DATOS - POSTGRESQL
DB_HOST=192.168.X.XXX
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=999999
DB_DATABASE=platform
DB_SCHEMA=public
DB_SYNCHRONIZE=false

# CONFIGURACIÓN FTP
FTP_HOST=192.168.X.XXX
FTP_USERNAME=user
FTP_PASSWORD=password
FTP_ROOT="/path/"
FTP_SSL=false

# CONFIGURACIÓN DEL SERVICIO SMS
SMS_SERVER_URL="http://192.168.X.X/goip/en/"
SMS_SERVER_ROOT=root
SMS_SERVER_PASSWORD=password
SMS_PROVIDER=1

# CONFIGURACIÓN DEL SERVICIO DE WHATSAPP
WHATSAPP_SERVER_URL=""

# CONFIGURACIÓN DEL SERVICIO DE CIUDADANÍA DIGITAL
CITIZENSHIP_DIGITAL_CLIENT_URL="https://proveedor.bo"
CITIZENSHIP_DIGITAL_CLIENT_ID="client_id"
CITIZENSHIP_DIGITAL_REDIRECT_URI="app://"
CITIZENSHIP_DIGITAL_SCOPES="openid profile email"